/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}
body {
    font-family: 'Lora', 'Times New Roman', serif;
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
}
h1, h2 {
    font-family: 'Acme', 'Verdana', sans-serif;
}
#tagline {
    font-style: italic;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: [header-start] 1fr [pairing-start / arial-start / georgia-start] 1fr [readability-start] 1fr [typeface-start] 1fr [footer-start] 1fr;
    grid-template-areas:
        "header header header header header"
        "pairing pairing pairing arial georgia"
        "bobwhite-quail bobwhite-quail readability readability readability"
        "bobwhite-quail bobwhite-quail line-length line-length line-length"
        "typeface typeface typeface helvetica helvetica"
        "typeface typeface typeface blank blank"
        "footer footer footer footer footer";
}

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    font-size: 2em;
    text-align: center;
    padding: 1em 1em 4em 1em;

}
#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
    padding: 4em 2em 2em 0em;
}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
    padding: 4em 2em 2em 0em;
}
#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    font-size: 1.6em;
    padding: 2.5em 1em 2.5em 2.5em;
    margin: -.01em;
}
#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    padding: 3em 3em 3em 4em;
}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    font-size: 1.3em;
    padding: 1em 4em 0em 0em;
}
#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    font-size: 1.3em;
    padding: 0em 4em 2em 0em;
}
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    padding: 3em 3em 2em 3em;
    margin: 5em 4em 35em 4em;
}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    background: #5598b2; /* keep */
    font-size: 1.5em;
    padding: 1.5em 1.5em 2.5em 1em;
    margin-right: -2em;
    margin-left: 2em;
    text-shadow: 1px 2px 2px #666;
}
footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
    font-size: 1.5em;
    text-align: center;
    padding: .5em;
}

/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
    text-shadow: none;
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */
@media screen and (max-width: 850px) {
  #container {
      grid-template-columns: repeat (2, 1fr);
      grid-template-rows: [header-start] 1fr [arial-start / georgia-start] 1fr [pairing-start] 1fr [bobwhite-quail-start] 1fr [readability-start] 1fr [line-length-start] 1fr [helvetica] 1fr [typeface-start] 1fr [footer-start] 1fr;
      grid-template-areas:
          "header header"
          "arial georgia"
          "pairing pairing"
          "bobwhite-quail bobwhite-quail"
          "readability readability"
          "line-length line-length"
          "helvetica helvetica"
          "typeface typeface"
          "footer footer";
  }
  header {
      padding: 1em 1em 1em 1em;
      margin-bottom: -6.5rem;
  }
  #arial {
      padding: 1.2em .5em 1em 1em;
  }
  #georgia {
      padding: 1.2em 1em 1em .5em;
  }
  #pairing {
      padding: 1em 1em 2em 1em;
  }
  #bobwhite-quail {
      padding: 1.5em 1.5em 0.5em 1.5em;
  }
  #readability {
      padding: 0em 1em 0em 1em;
  }
  #line-length {
      padding: 0em 1em .5em 1em;
  }
  #helvetica {
      padding: 1em 1em 1em 1em;
      margin: 0em;
  }
  #typeface {
      font-size: 1.4em;
      padding: 1em;
      margin-right: 0em;
      margin-left: 0em;
  }
}
